{% extends "blog/base.html" %}

{% block content %}
<div class="row">
  {% for profile in profiles %}
    <div class="col-4" class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-8 col-md-6">
            <h3 class="mb-0 text-truncated">{{ profile.first_name }} {{profile.last_name}}</h3>
            <p>
              {{ profile.info }}
            </p>
            <p>
              {% for skill in profile.skills %}
                <span class="badge badge-info tags">{{ skill }}</span>
              {% endfor %}
            </p>
          </div>
          <div class="square col-12 col-lg-4 col-md-6 text-center">
            <img src="{{ profile.picture.url }}" alt="" class="mx-auto rounded-circle img-fluid">
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}
