{% extends "base.html" %}

{% block content %}
   <div class="product-page" style="padding:0px !important;">
    <div class="movein-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="top-box-product">
              <h2>Tarimo Research Group</h2>
            </div>
          </div>
          <div class="divider"> </div>
          <div class="col-12">
           <div class="middle-box-product" id="features">
            <h3>Our Story</h3>
            <p style="font-size:13px;">Lorem Ipsum is simply dummy text of 
            the printing and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer took a galley of 
            type and scrambled it to make a type specimen book. It has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
<section class="container">
    <div class="row active-with-click">
        {% for profile in profiles %}
        <div class="col-md-6 col-sm-12 col-xs-12 spacing-down" style="display:inline-block;">
            <article class="material-card">
                <h2 class="card2 bg-light ">
                    <span style="color: black;">{{ profile.first_name }} {{profile.last_name}}</span>
                    <p style="font-size:15px; color: black;">{{ profile.headline }}</p>
                    <strong class="john-test">
                        {% if profile.linkedin %}
                      <a class="btn-floating btn-lg btn-li" type="button" role="button" href="{{ profile.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a> {% endif %}
                       {% if profile.github %}
                      <a class="btn-floating btn-lg btn-git" type="button" role="button" href="{{ profile.github }}" target="_blank"><i class="fab fa-github"></i></a> {% endif %}
                      {% if profile.facebook %}
                      <a class="btn-floating btn-lg btn-fb" type="button" role="button" href="{{ profile.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a> {% endif %}
                      {% if profile.instagram %}
                      <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="{{ profile.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a> {% endif %}
                      {% if profile.twitter %}
                      <a class="btn-floating btn-lg btn-tw" type="button" role="button" href="{{ profile.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a> {% endif %}
                    </strong>
                </h2>
                <div class="mc-content bg-light">
                    <div class="img-container">
                        <img src="{{ profile.picture.url }}" alt="" class="" style="height:100%; width:100%;">
                    </div>
                    <div class="mc-description">
                        {{ profile.bio }}
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer bg-secondary">
                    <h4>
                        Skills
                    </h4>
                    {% for skill in profile.get_skills %}
                      <span class="badge badge-info tags">{{ skill }}</span>
                    {% endfor %}
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
