<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ConnColl CS Research</title>
  {% load static %}
   {{ form.media }}
  <link href="{% static 'css/plugins.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/material-cards.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/space.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/landing.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-wrapper">
    <header class="classic-header">
      <div class="navbar-default">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="menu_area">
                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                  <div class="navbar-header navbar-header-custom">
                    <a href="{% url 'home' %}" class="navbar-brand width-200px sm-width-180px xs-width-150px"><img id="logo" src="{% static 'img/logo_transparent.png' %}" alt="logo"></a>
                  </div>

                  <div class="navbar-toggler"></div>

                  <!-- start menu area -->
                  <ul class="navbar-nav" id="nav" style="display: none;">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'blogs' %}">Blog</a></li>
                    <li><a href="{% url 'publications' %}">Publications</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    {% if user.is_authenticated %}
                    {% else %}
                    <li><a href="{% url 'login' %}">AdminLogin</a></li>
                    {% endif %}
                  </ul>
                  <!-- end menu area -->

                  <!-- start attribute navigation -->
                  <div class="attr-nav sm-no-margin ml-auto sm-margin-65px-right xs-margin-55px-right">
                    <ul class="social-links no-margin text-center">
                      <li>
                        <a href="http://www.twitter.com/connCS" target="blank"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.conncoll.edu/academics/majors-departments-programs/departments/computer-science/" target="blank"><i class="fa fa-globe" style="color: black;"></i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/conncollcs/" target="blank"><i class="fab fa-instagram"></i></a>
                      </li>
                      <a href="https://www.youtube.com/channel/UCrf0JUaglfkwrOsFSc1v3zQ" target="blank"><i class="fab fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- end attribute navigation -->

              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center" style="background-color: white; padding-bottom: 20px;">
    <!-- Copyright -->

    <div class="footer-copyright text-center" style="margin: 20px;">
            <a href="#" class="navbar-brand width-200px sm-width-180px xs-width-150px"><img id="logo" src="{% static 'img/logo_transparent.png' %}" alt="logo"></a>
      <a href="#">Computer Science Research at Connecticut College  © 2021:</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- start scroll to top -->
  <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
  <!-- end scroll to top -->


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'search/search.js' %}"></script>
  <script src="{% static 'js/nav-menu.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/jquery.material-cards.js' %}"></script>
  <script src="{% static 'js/space.js' %}"></script>
  <script src="{% static 'js/images.js' %}"></script>
  </div>
</body>
</html>
