
{% extends "base.html" %}
{% load static %}
{% block content %}
 {% if user.is_authenticated %}
    <div class="container">
      <a href="{% url 'blog_create' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true"><i class="fas fa-plus" title="Add Task"></i> Add New Blog</a>
    </div>
    <br>
{% endif %}

<div class="row">
  {% for blog in blogs %}
  <div class="card margin-40px-bottom border-0 bg-light rounded-0">
      <div class="row no-gutters list-blog">

          <div class="col-md-5">
            {% if blog.post_image %}
              <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" data-background="{{ blog.post_image.url }}"></div>
            {% else %}
            <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" data-background="{% static '../media/projects/tress.jpg' %}"></div>
            {% endif %}
          </div>
          <div class="col-md-7">
              <div class="card-body">
                  <h5><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></h5>
                  <p>{{ blog.content|truncatechars:200 }}</p>
                  <div class="meta">
                      <span class="date">{{ blog.creation_date }}</span>
                      <span class="author">By <a href="#!">{{ blog.author }}</a></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
