
{% extends "base.html" %}

{% block content %}
<div class="row">
  {% for blog in blogs %}
  <div class="card margin-40px-bottom border-0 bg-light rounded-0">
      <div class="row no-gutters list-blog">

          <div class="col-md-5">
              <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" ></div>
          </div>
          <div class="col-md-7">
              <div class="card-body">
                  <h5><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h5>
                  <p>{{ blog.content|truncatechars:200 }}</p>
                  <div class="meta">
                      <span class="date">{{ blog.creation_date }}</span>
                      <span class="author">By <a href="#!">{{ blog.author }}</a></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
