

{% extends "base.html" %}
  {% load static %}

{% block content %}
 {% if user.is_authenticated %}
    <div class="text-center">
      <a href="{% url 'project_create' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true"><i class="fas fa-plus" title="Add Task"></i> Add New Project</a>
    </div>
{% endif %}
{% for project in projects %}
<div class="row">

  <div class="card margin-40px-bottom border-0 bg-light rounded-0">
      <div class="row no-gutters list-blog">

          <div class="col-md-5">
            {% if project.project_image %}
              <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" data-background="{{ project.project_image.url }}"></div>
            {% else %}
             <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" data-background="{% static '../media/projects/tress.jpg' %}"></div>
            {% endif %}
          </div>
          <div class="col-md-7">
              <div class="card-body">
                  <h5><a href="{% url 'project_detail' project.slug %}">{{ project.title }}</a></h5>
                  <p>{{ project.content|truncatechars:200 }}</p>

              </div>
          </div>
      </div>
  </div>

</div>
  {% endfor %}

{% endblock%}