

{% extends "base.html" %}
  {% load static %}

{% block content %}
 {% if user.is_authenticated %}
    <div class="container">
      <a href="{% url 'project_create' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true"><i class="fas fa-plus" title="Add Task"></i> Add New Project</a>
    </div>
    <br>
{% endif %}
{% for project in projects %}
<div class="row">

  <div class="card margin-40px-bottom border-0 bg-light rounded-0">
      <div class="row no-gutters list-blog">

          <div class="col-md-5">
            {% if project.project_image %}
              <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" data-background="{{ project.project_image.url }}"></div>
            {% else %}
             <div class="bg-img cover-background h-100 min-height-250" data-overlay-dark="0" data-background="{% static '../media/projects/tress.jpg' %}"></div>
            {% endif %}
          </div>
          <div class="col-md-7">
              <div class="card-body">
                  <h5>
                    <span><a href="{% url 'project_detail' project.slug %}" style="color: blue;">{{ project.title }}</a></span>
                    {%if project.completed %}<span style="float: right;" class="alert alert-success" role="alert">Completed</span>
                    {% else %}<span style="float: right;" class="alert alert-warning" role="alert">In Progress</span> {% endif%}
                  </h5>
                  <p>{{ project.content|truncatechars:200|safe }}</p>
                  <div class="meta">
                    <span style="float: left;"><strong>ADVISER:</strong> {{ project.adviser }}</span>
                      <span class="author"><strong>TEAM:</strong> 
                        {% for team in project.get_collaborators %}
                        <span>{{ team }}{% if not forloop.last %},{% endif %}</span>
                        {% endfor %}
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
{% endfor %}

{% endblock%}