
{% extends "base.html" %}

{% block content %}
 <p><a href="https://tarimolab.conncoll.edu/admin/blog/publications/add/" target="blank" class="btn btn-info btn-lg">
          <span  class="glyphicon">&#x2b;</span> Add Publication</a>
      </p> 
      {% for publication in publications %}
  <div class="card margin-40px-bottom border-0 bg-light rounded-0">
      <div class="row no-gutters list-blog">
          <div class="col-md-12">
              <div class="card-body">
                  <h5><a href="{{ publication.conferenceLink }}" target="blank">{{ publication.title }}</a></h5>
                  <div class="meta">
                      <span class="author">Team:
                        {% for person in publication.team.all %}
                        <span>{{ person }}{% if not forloop.last %},{% endif %}</span>
                        {% endfor %}
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
            
    {% endfor %}
{% endblock %}
